body {
  background-color: aliceblue;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  text-align: center;
  font-weight: 100;
  font-size: 25px;
  margin-bottom: 20px;
}

.input-pincode {
  width: 80px;
}

.pincode-form {
  display: grid;
  grid-template-columns: 100px 80px 60px;
  padding: 2px;
}

.phonenumber-form {
  display: grid;
  grid-template-columns: 180px 120px 100px;
  padding: 2px;
}

.centers {
  display: grid;
  grid-template-columns: 150px 150px 80px 60px;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  margin: 10px 0px 10px 0px;
  align-items: center;
}
.center-name {
  color: brown;
  font-weight: 200px;
}

.tracked {
  background-color: rgb(155, 184, 211);
}

.not-tracked {
  background-color: rgb(216, 235, 253);
}

.notify {
  justify-content: center;
}
