body {
  background-image: url("vaccine.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.state-district {
  display: grid;
  grid-template-columns: 80px 180px 180px 80px;
  padding: 2px;
  align-items: center;
  margin-bottom: 5px;
}
select {
  padding: 2px;
}

.container {
  justify-content: center;
  display: grid;
}

.pincode-form {
  display: grid;
  grid-template-columns: 150px 180px 80px;
  padding: 2px;
  align-items: center;
  height: auto;
}
table {
  background-color: rgb(11, 115, 206);
}

.phonenumber-form {
  display: grid;
  grid-template-columns: 150px 180px 80px;
  padding: 2px;
}

.tracked {
  background-color: rgb(155, 184, 211);
}

.not-tracked {
  background-color: rgb(216, 235, 253);
}

.available {
  background-color: rgb(145, 238, 238);
}

.notify {
  justify-content: center;
}
.no-centers {
  display: grid;
  justify-content: center;
}
#modal {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal:empty {
  display: none;
}

#modal > div {
  max-width: 600px;
  padding: 15px;
  margin: 20px;
  text-align: center;
  border-radius: 30px;
}

.modal-content {
  width: 500px;
  height: 230px;
  border: none;
}
.modal-content h2 {
  margin-top: 20px;
}
.modal-buttons {
  margin-top: 10px;
  margin-bottom: 10px;
}

.selected-center-details {
  display: grid;
  justify-content: center;
}

.selected-centers {
  color: brown;
}

.results {
  width: 600px;
}

.available-slots {
  text-align: center;
}
